
@{
    ViewBag.Title = "Index";
}

<h1>MBMSTORE - Marc Høgh</h1>

<ul>
    <li>
        @Html.ActionLink("Customer", "Index", "Customer")
    </li>
    <li>
        @Html.ActionLink("Catalogue", "Index", "Catalogue")
    </li>
</ul>
